<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/home/home.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/excel/excel.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/excel/excel.js}"></script>
</head>
<body>
    <div th:replace="~{layout/header :: header}"></div>

    <div class="step">
        <h2>1. Excel 서식 다운로드 진행</h2>
        <button type="button" class="btn-down"> <span>Excel 서식 다운로드</span> </button>
    </div>

    <div class="step">
        <h2>2. 1번에서 다운로드 한 Excel 서식 업로드 진행</h2>
        <input class="file-upload-name" placeholder="Excel 서식 업로드" disabled>
        <button class="btn-down">
            <label for="file-upload">Excel 서식 업로드</label>
            <input class="file-upload" id="file-upload" type="file">
        </button>
    </div>

</body>
</html>