#login-box {
  text-align: center;
  position: absolute;
  left: 40%;
  top: 40%;
}

#login-box label {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.input-box {
  width: 250px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom 3px solid black;
}

#login-btn {
  margin-top: 20px;
  color: white;
  padding: 10px 30px;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background: rgba(250,90,90,1);
}

#login-btn:hover {
  cursor: pointer;
}